#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "gitea"
name = "Gitea"
description.en = "Lightweight Git forge"
description.fr = "Forge Git légère"

version = "1.25.4~ynh1"

maintainers = ["Josué Tille"]
# previous_maintainers = [
#     "rafi59"
# ]

[upstream]
license = "MIT"
website = "https://gitea.io/"
admindoc = "https://docs.gitea.io/"
code = "https://github.com/go-gitea/gitea"
cpe = "cpe:2.3:a:gitea:gitea"
fund = "https://opencollective.com/gitea"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = [
    "amd64",
    "i386",
    "armhf",
    "arm64"
]
multi_instance = true
ldap = true
# reverse proxy authentication disabled until https://github.com/go-gitea/gitea/pull/18452 is merged
sso = false
disk = "120M"
ram.build = "0M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/gitea"

    [install.init_main_permission]
    help.en = "Gitea should be visible by visitors to use git via HTTP and to use the API. You can still set repositories as private individually."
    help.fr = "Gitea doit être visible par les visiteurs pour utiliser git via HTTP et utiliser l'API. Vous pouvez toujours rendre les dépôts privés individuellement."
    type = "group"
    default = "visitors"


    [install.init_admin_permission]
    ask.en = "Which group will have access to Gitea admin page"
    ask.fr = "Quel groupe aura accès à l'administration de Gitea"
    help.en = "Users of this group should have access to Gitea admin page"
    help.fr = "Les utilisateurs de ce groupe devrait avoir accès à la page d'administration de Gitea"
    type = "group"
    default = "admins"

[resources]

    [resources.sources.main]
    extract = false
    rename = "gitea"

    armhf.url = "https://github.com/go-gitea/gitea/releases/download/v1.25.4/gitea-1.25.4-linux-arm-6"
    armhf.sha256 = "fdc42a53fe3e821824e67c1acabef3dd81fa3cb568d62ab441827cf6faeac11b"
    arm64.url = "https://github.com/go-gitea/gitea/releases/download/v1.25.4/gitea-1.25.4-linux-arm64"
    arm64.sha256 = "31811ae4dff82d2cc7b73472c578428c5041e7fe0966bf5b1a53a0329058c19a"
    i386.url = "https://github.com/go-gitea/gitea/releases/download/v1.25.4/gitea-1.25.4-linux-386"
    i386.sha256 = "e2dd3cbd0e1dc910f0e710b09acbe4b973106860606c9f2536297224d5cafb7e"
    amd64.url = "https://github.com/go-gitea/gitea/releases/download/v1.25.4/gitea-1.25.4-linux-amd64"
    amd64.sha256 = "a3031853e67c53714728ef705642c9046a11fb0ea356aff592e23efe6114607d"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.armhf = "^gitea-.*-linux-arm-6$"
    autoupdate.asset.arm64 = "^gitea-.*-linux-arm64$"
    autoupdate.asset.i386 = "^gitea-.*-linux-386$"
    autoupdate.asset.amd64 = "^gitea-.*-linux-amd64$"

    [resources.system_user]
    home = "/home/yunohost.app/__APP__"
    allow_ssh = true
    allow_email = true

    [resources.install_dir]
    owner = "__APP__:rwx"
    group = "__APP__:r-x"

    [resources.data_dir]
    owner = "__APP__:rwx"
    group = "__APP__:r-x"

    [resources.permissions]
    main.url = "/"

    admin.show_tile = false
    admin.auth_header = false
    admin.label = "Admins"

    container_registry.show_tile = false
    container_registry.auth_header = false
    container_registry.label = "Container registry"
    container_registry.url = "__DOMAIN__/v2"
    container_registry.allowed = "visitors"

    [resources.ports]
    main.default = 6000

    [resources.apt]
    packages = [
        "mariadb-server"
    ]

    [resources.database]
    type = "mysql"
