[Unit]
Description=Gitea: Git Service
After=syslog.target network.target mysql.service slapd.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__DATADIR__/
ExecStart=__FINALPATH__/gitea web -p __PORT__
Restart=always
Environment=USER=__APP__ HOME=__DATADIR__/

[Install]
WantedBy=multi-user.target

# Sandboxing options to harden security
# Depending on specificities of your service/app, you may need to tweak these 
# .. but this should be a good baseline
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
DevicePolicy=closed
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap

[Install]
WantedBy=multi-user.target
